
@{
    ViewBag.Title = "Work";
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
  }

<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <img style="width: 400px; height: 400px;" src="http://tinyurl.com/qeemlqf" />
            <p> Work Sample 1</p>
        </div>
        <div class="col-md-6 column">
            <img style="width: 400px; height: 400px;" src="http://tinyurl.com/qeemlqf" />
            <p> Work Sample 2</p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <img style="width: 400px; height: 400px;" src="http://tinyurl.com/qeemlqf" />
            <p> Work Sample 3</p>
        </div>
        <div class="col-md-6 column">
            <img style="width: 400px; height: 400px;" src="http://tinyurl.com/qeemlqf" />
            <p> Work Sample 4</p>
        </div>
    </div>
</div>

